lib/spectator
lib/ssh2
lib/singleton
ops.dwarf
/ops
/config/dev
/test
/test.pub
vendor
.DS_Store

# e2e spec artefacts
ops*.out
ops*.err
spec/e2e/hooks/before_hook_*
user@host*
spec/e2e/dependencies/custom/custom*

# build artifacts
/build/darwin*
/build/linux*
/build/ops
/build/crops-*.tar.xz
/ops-*-amd64
/ops-*-arm*
ops_team-*.gem
build/crops-*
/crops-*.tar.bz2
/crops-*.tar.gz
/crops.tar.gz
/crops/**/*
/2\..\...tar.bz2
bin/ops
rubygem/build
tmpbuild
crops.tar.bz2
